{% extends "layout-basic.html" %} {% block title %}Stream: Node{% endblock %}{% block head %}
<link rel="stylesheet" href="/static/streamnode.css?{{ serverInfo['release_version'] | urlencode }}"></link>

<script type="text/javascript" charset="utf-8">
	rotorhazard.show_messages = false;
	streampaused = {{ node_id }}

	$(document).ready(function () {
		rotorhazard.show_messages = false;

		// get pi time
		socket.emit('load_data', {'load_types': [
			'all_languages',
			'language',
			'race_format',
			'leaderboard_cache',
			'current_laps',
			'consecutives',
		]});

		socket.on('all_languages', function (msg) {
			rotorhazard.language_strings = msg.languages;
		});

		socket.on('language', function (msg) {
			if (msg.language) {
				rotorhazard.interface_language = msg.language;
			}
		});

		socket.on('leaderboard', function (msg) {
			primary_leaderboard = msg.meta.primary_leaderboard;
			leaderboard = msg[primary_leaderboard];

			for (var i in leaderboard) {
				if (leaderboard[i].node == streampaused) {
					pilot_data = leaderboard[i];

					$('#position').html(pilot_data.pilot_id);
					$('#callsign').html(pilot_data.callsign);
					$('#consec').html(pilot_data.consecutives);
					
					// $('#last_lap').html(pilot_data.last_lap ? pilot_data.last_lap : '0:00.000');
					// $('#team_name').html(pilot_data.team_name);
					// $('#laps').html(pilot_data.laps);
					// $('#fastest_lap').html(pilot_data.fastest_lap);

					if (primary_leaderboard == 'by_fastest_lap') {
						rank_stat = pilot_data.fastest_lap
					} else if (primary_leaderboard == 'by_consecutives') {
						rank_stat = pilot_data.consecutives
					} else {
						rank_stat = pilot_data.laps + " / " + pilot_data.total_time
					}

					$('#rank_stat').html(rank_stat);
				}
			}

			$('#dump').append(msg);
		});

		socket.on('race_format', function (msg) {
			rotorhazard.race_formats = msg;
		});
	});


</script>
{% endblock %} {% block content %}
<main class="page-streampaused">
	<div id="position"></div>
	<div id="pilot-info">
		<div id="callsign"></div>
	</div>
</main>
{% endblock %}
